# Environment variables
.env
.venv
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Build files
dist/
build/
*.egg-info/

recommed1.txt
recommed2.txt
search.txt
